# --- Entornos Virtuales ---
# Ignorar la carpeta de tu entorno de Conda si la creaste dentro del proyecto
# (Si está fuera, no hace falta, pero es buena práctica)
cervecera_env/
*.env
.venv

# --- Archivos de Cache de Python ---
# "Basura" temporal que genera Python
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Checkpoints de Jupyter Notebook ---
# Copias de seguridad automáticas que crea Jupyter
.ipynb_checkpoints/

# --- Archivos de configuración de IDEs ---
# Configuraciones locales de tu editor (VSCode, PyCharm, etc.)
.vscode/
.idea/

# --- DATOS BRUTOS (RAW DATA) ---
# --- Reglas para la carpeta /data/ ---

# 1. Ignora TODOS los archivos .xlsx DENTRO de data/
# El asterisco (*) es un comodín que significa "cualquier cosa"
data/*.xlsx

# 2. Ignora TODOS los archivos .pdf DENTRO de data/
data/*.pdf

# 3. ¡LA REGLA DE EXCEPCIÓN! (Opcional, pero recomendada)
# El signo '!' significa "NO ignorar".
# Esto le dice a Git: "Incluso si una regla anterior
# accidentalmente ignoró este archivo, ¡des-ignóralo!
# ¡Este archivo SÍ me importa!"
!data/checksums.json

# --- DATOS PROCESADOS Y MODELOS ---
# Ignoramos todo lo que generemos con nuestro código.
# El pipeline debe poder REGENERARLOS.
#Ignora la sub-carpeta 'processed' y TODO su contenido.
# ¡Esto es CLAVE para no subir el dataset_final.csv más adelante!
data/processed/
models/

# --- RESULTADOS Y LOGS ---
# Archivos que generamos al correr los scripts
results/
*.log